@font-face {
    font-family: 'setback_tt_brkregular';
    src: url('setbackt-webfont.woff2') format('woff2'),
         url('setbackt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'furoreregular';
    src: url('Furore-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dpcomicregular';
    src: url('dpcomic-webfont.woff2') format('woff2'),
         url('dpcomic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'novemberregular';
    src: url('novem___-webfont.woff2') format('woff2'),
         url('novem___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url(http://fonts.googleapis.com/css?family=Cabin:400);

#app {
  height: 100%;
}

html, body {
  margin: 0;
  height: 100%;
}

canvas {
  border-radius: 20px;
  max-height: 100%;
  max-width: 100%;
}

.buttoncontainer {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #46443f;
  /*border-image:
    linear-gradient(
      to bottom,
      black,
      rgba(0, 0, 0, 0)
      )
    1 100%;*/
  height: 100%;
  width: 16%;
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttondiv {
  width:100%;
  height: 50%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dialcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25%;
}

.diallabelcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}

.displayback {
  bottom: 2%;
}

.displaybutton {
  z-index: 999;
  position: absolute;
  left: 2%;
  height: 8%;
  width: 8%;
  cursor: pointer;
}

.displayfav {
  bottom: 12%;
}

.headbutton {
  width: 20%;
  height: 80%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  box-shadow: 0px 0px 8px 4px #7Cbdbd;
  border: 3px solid #3acaec;
  border-radius: 5px;
  background-color: black;
}

.headcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  border-bottom: 4px solid #3acaec;
}

.headlabel {
  margin-top: 1.5%;
  width: 60%;
  margin-left: 6%;
  margin-right: 6%;
  color: #3acaec;
  font-family: dpcomicregular;
  font-size: 1.8rem;
  text-align: center;
}

.headcard {
  width: 100%;
  height: 4.5rem;
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top: 4px solid #3acaec;
  border-bottom: 4px solid #3acaec;
}

.headcardbutton {
  height: 80%;
  margin-right: 3%;
}

.headcardinstruction {
  width: 100%;
  margin: 2% 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 4px solid #3acaec;
  border-bottom: 4px solid #3acaec;
}

.headcardinfotext {
  text-align: center;
  font-family: dpcomicregular;
  font-size: 1.5rem;
  color: #e3e3e3;
  margin: 3% 3%;
  width: 94%;
}

.headcardtitle {
  font-family: novemberregular;
  color: #e3e3e3;
  margin-left: 3%;
  width: 70%;
}

.listparent {
  height: 92%;
  max-height: 92%;
  width: 30%;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px #7Cbdbd;
  border: 4px solid #3acaec;
  border-radius: 5px;
}

.listcontainer {
  max-height: 89%;
  overflow: auto;
}

.loginform {
  height: 42%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.loginheader {
    font-family: dpcomicregular;
    color: #fee;
    font-size: 3.5rem;
    text-shadow: 0 -20px 100px, 0 0 2px, 0 0 1em #fd00ff, 0 0 0.5em #fd00ff, 0 0 0.1em #fd00ff, 0 5px 3px #000;
    width: 100%;
    height: 30%;
    margin: 0 0 0 0;
    text-align: center;
}

.loginheader .reg {
  height: 25%;
}

.logobox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
  width: 55%;
  height: 30%;
  border: 5px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
  box-shadow:
    3px 5px 7px 0px rgba(0, 0, 0, .3),
    inset 0px -3px 1px 1px rgba(51, 47, 46, 0.5);
}

.logodiv {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logotext {
  margin-left: 7%;
  font-size: 7rem;
  text-shadow: -1px -1px 1px #fff, 1px 3px 3px #000;
  color: black;
  opacity: 0.5;
  font-family: setback_tt_brkregular
}

.logout {
  font-family: novemberregular;
  font-size: 4rem;
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff0000, 0 0 0.5em #ff0000, 0 0 0.1em #ff0000, 0 10px 3px #000;
  cursor: pointer;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ledcontainer {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mastercontainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mapcontainer {
  height: 92%;
  width: 50%;

  margin-right: 2%;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 4px #7Cbdbd;
  border: 4px solid #3acaec;
  border-radius: 5px;
  overflow: hidden;
}

.midmonitor {
  background-image:
    linear-gradient(
      to bottom left,
      #4e4c46, #5b5852
    );
  border-radius: 20px;
  height: 93%;
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.midbuttons {
  width: 15%;
  height: 90%;
  border-radius: 20px;
  background-image:
    linear-gradient(
      to bottom left,
      #5b5852, #46443f
  );
  margin-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monitor {
  border: 3px solid black;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  height: 93%;
  width: 95%;
}

.monitorborder {
  background-color: #6b6861;
  border-radius: 20px;
  height: 99%;
  width: 99.2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.monitorborderborder {
  height: 94%;
  width: 94%;
  background-color: #928577;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outermonitor {
  background-color: #bdb5ad;
}

.regform {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.searchscreen {
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebarlabel {
  text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
  color: #363430;
  opacity: 0.3;
  font: 1.3rem furoreregular;
  text-align: center;
}

.sidebaruser {
  margin-right: 5%;
  margin-left: 14%;
  font-size: 1.5rem;
}

.sidebardial {
  color: #282724;
  opacity: 0.4;
  margin-top: 5%;
}

.usercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}


//background scroll
.gradient {
  height: 100%;
  background: url(Scroll.jpg);
  -webkit-animation: 100s scroll infinite linear;
  -moz-animation: 100s scroll infinite linear;
  animation: 100s scroll infinite linear;
  background-size: cover;
}
@-webkit-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@-moz-keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

@keyframes scroll{
  100%{
    background-position:0px -3000px;
  }
}

.gradientoff {
  height: 100%;
  background: #000;
  background-size: cover;
}

//logo flickering
.logo{
  font: 100 7rem "setback_tt_brkregular";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fd00ff, 0 0 0.5em #fd00ff, 0 0 0.1em #fd00ff, 0 10px 3px #000;
}

.logo span{
  animation: blink linear infinite 10s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  90% {
    color: #333;
    text-shadow: none;
  }
  91.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

//user forms and glow

.loginform form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	font-size: 0px;
	padding: 20px;
	z-index: 1;
}

.loginform input {
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	font-family: 'dpcomicregular';
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
}

.ie .loginform input {
	line-height: 40px;
}

.loginform input::-webkit-input-placeholder {
   color: #888;
}

.loginform input:-moz-placeholder {
   color: #888;
}

.loginform input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #28232a;
	background: linear-gradient(#383239, #28232a);
	border-color: #993394;
	box-shadow: 0 0 5px rgba(253,0,255,.2), inset 0 0 5px rgba(253,0,255,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.loginform input:focus::-webkit-input-placeholder {
	color: #fff0fe;
}

.loginform input:focus:-moz-placeholder {
	color: #fff0fe;
}

.loginform button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: content-box;
	border: 1px solid #444;
	border-radius: 15px;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	font-family: 'novemberregular';
	font-size: 1rem;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0 40% 0 40%;
	padding: 0;
	text-shadow: 0 -1px 0 #000;
	min-width: 80px;
}

.loginform button:hover,
.loginform button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #ff57f7;
	outline: none;
}

.loginform button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
  0% {
	border-color: #8f3399;
	box-shadow:
    0 0 5px rgba(253,0,255,.2),
    inset 0 0 5px rgba(253,0,255,.1),
    0 2px 0 #000;
  }
  100% {
	border-color: #ff66f5;
	box-shadow:
    0 0 20px rgba(253,0,255,.6),
    inset 0 0 10px rgba(253,0,255,.4),
    0 2px 0 #000;
  }
}

// sidebar interactables
.button{
	background-image: -webkit-linear-gradient(top, #585650, #53514b);
	background-image: linear-gradient(top, #2b241c, #53514b);
	border-radius: 50%;
  box-shadow:
    inset -2px 2px 0px 0px rgba(#fff, 0.1),
    inset 2px -2px 0px 0px rgba(#111, 0.2),
    0px 5px 5px 1px rgba(0, 0, 0, .3),
    0px 10px 10px 1px rgba(51, 47, 46, 0.5);
	// box-shadow:
  //   0px 8px 10px 0px rgba(0, 0, 0, .3),
  //   inset 0px 4px 1px 1px #4e4c46,
  //   inset 0px -3px 1px 1px rgba(51, 47, 46, 0.5);
  cursor: pointer;
	height: 70px;
	width: 70px;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.button:hover{
	background-image: -webkit-linear-gradient(top, #53514b, #585650);
	background-image: linear-gradient(top, #53514b, #585650);
}

.button:active{
	background-image: -webkit-linear-gradient(top, #53514b, #4e4c46);
	background-image: linear-gradient(top, #53514b, #3b3a35);
	box-shadow:
    0 3px 5px 0 rgba(0,0,0,.4),
    inset 0px -3px 1px 1px rgba(43, 39, 38, 0.5);
}

.led {
  width: 19px;
  height: 19px;
  background-color: #a00d0d;
  border-radius: 50%;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0 -1px 7px 1px,
    inset #441313 0 -1px 9px,
    rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.dial {
  cursor: pointer;
  position: relative;
  width: 70px;
  height: 70px;
  background-color: #585650;
  border-radius: 50%;
  box-shadow:
    inset -2px 2px 0px 0px rgba(#fff, 0.1),
    inset 2px -2px 0px 0px rgba(#111, 0.2),
    0px 5px 5px 1px rgba(0, 0, 0, .3),
    0px 10px 10px 1px rgba(51, 47, 46, 0.5);
}

.toast {
  animation: hum 600ms ease-out infinite alternate;
  box-shadow: 0 0 5px rgba(253,0,255,.2), inset 0 0 5px rgba(253,0,255,.1), 0 2px 0 #000;
}

@keyframes hum {
  0% {
	border-color: #ff00ff;
	box-shadow:
    0 0 18px rgba(253,0,255,.65),
    inset 0 0 8px rgba(253,0,255,.55),
    0 2px 0 #000;
  }
  100% {
	border-color: #ff29ff;
	box-shadow:
    0 0 28px rgba(253,0,255,.9),
    inset 0 0 10px rgba(253,0,255,.7),
    0 2px 0 #000;
  }
}

@media (max-width: 1000px) {
  .searchcontainer {
    flex-direction: column;
  }

  .listparent {
    width: 80%;
    height: 30%;
    max-height: 100%;
  }

  .listcontainer {
    max-height: 72%;
  }

  .logo {
    font: 100 5rem "setback_tt_brkregular";
  }

  .logobox {
    margin-top: 60%;
    width: 60%;
    height: 25%;
  }

  .logotext {
    font-size: 5rem;
  }

  .headcontainer {
    height: 25%;
  }

  .mapcontainer {
    width: 90%;
    height: 60%;
    margin-right: 0;
    margin-bottom: 3%;
  }
}

@media (max-width: 1100px) {
  .sidebarlabel {
    font-size: 1.1rem;
  }

  .sidebardial {
    font-size: 1.3rem;
  }

  .sidebaruser {
    font-size: 1.3rem;
  }
}

@media (max-width: 900px) {
  .sidebarlabel {
    font-size: 1rem;
  }

  .sidebardial {
    font-size: 1.3rem;
  }

  .sidebaruser {
    font-size: 1.3rem;
  }
}

@media (max-width: 800px) {
  .headcardinfotext {
    font-size: 1.2rem;
  }

  .led {
    display: none;
  }

  .sidebarlabel {
    margin-left: 7%;
    margin-right: 7%;
    font-size: 1.3rem;
  }

  .sidebaruser {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 650px) {
  .button {
    height: 2rem;
    width: 2rem;
    box-shadow:
      inset -2px 2px 0px 0px rgba(#fff, 0.1),
      inset 2px -2px 0px 0px rgba(#111, 0.2),
      0px 2.5px 2.5px 1px rgba(0, 0, 0, .3),
      0px 5px 5px 1px rgba(51, 47, 46, 0.5);
  }

  .dial {
    width: 3rem;
    height: 3rem;
    box-shadow:
      inset -2px 2px 0px 0px rgba(#fff, 0.1),
      inset 2px -2px 0px 0px rgba(#111, 0.2),
      0px 5px 5px 1px rgba(0, 0, 0, .3),
      0px 10px 10px 1px rgba(51, 47, 46, 0.5);
  }

  .gradient {
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }

  .loginheader {
    height: 40%;
  }

  .logo {
    font: 100 2.8rem "setback_tt_brkregular";
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fd00ff, 0 0 0.5em #fd00ff, 0 0 0.1em #fd00ff, 0 5px 3px #000;
  }

  .logo span{
    animation: none;
  }

  .headlabel {
    font-size: 1.3rem;
  }
  .headcontainer {
    height: 20%;
  }
  .listcontainer {
    max-height: 77%;
  }

  .headbutton {
    width: 22%;
    box-shadow: 0px 0px 4px 2px #7Cbdbd;
  }

  .headcardtitle {
    font-size: 0.75rem;
  }

  .logotext {
    font-size: 4rem;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: black;
    opacity: 0.5;
    font-family: setback_tt_brkregular;
    overflow-wrap: break-word;
    width: 100%;
    text-align: center;
  }

  .logobox {
    width: 60%;
    height: 23%;
    margin-top: 110%;
    border: 3px solid rgba(0, 0, 0, .5);
    box-shadow:
      1.5px 3px 5.5px 0px rgba(0, 0, 0, .3),
      inset 0px -1.5px 1px 1px rgba(51, 47, 46, 0.5);
  }

  .monitor {
    height: 95%;
  }

  .sidebarlabel {
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: #363430;
    opacity: 0.3;
    font: 1rem furoreregular;
    text-align: center;
  }

  .sidebardial {
    font-size: 0.9rem;
    opacity: 0.5;
  }
}

@media (max-width: 450px) {
  .logotext {
    font-size: 3rem;
  }

  .logobox {
    height: 20%;
  }

  .sidebardial {
    font-size: .8rem;
    margin-top: 15%;
  }
}
