@font-face {
    font-family: 'setback_tt_brkregular';
    src: url('setbackt-webfont.woff2') format('woff2'),
         url('setbackt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#app {
  height: 100%;
}

html, body {
  margin: 0;
  height: 100%;
}

.buttoncontainer {
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #46443f;
  /*border-image:
    linear-gradient(
      to bottom,
      black,
      rgba(0, 0, 0, 0)
      )
    1 100%;*/
  height: 100%;
  width: 16%;
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.listparent {
  height: 30rem;
  width: 20rem;
  background-color: indigo;
}

.listcontainer {
  overflow: auto;
  height: 20rem;
  width: 20rem;
}

.loginform {
  height: 40%;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.logodiv {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttondiv {
  width:100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.mastercontainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mapcontainer {
  height: 30rem;
  width: 30rem;
  margin-left: 2%;
  margin-right: 2%;
}

.midmonitor {
  background-image:
    linear-gradient(
      to bottom left,
      #4e4c46, #5b5852
    );
  border-radius: 20px;
  height: 93%;
  width: 78%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.midbuttons {
  width: 15%;
  height: 90%;
  border-radius: 20px;
  background-image:
    linear-gradient(
      to bottom left,
      #5b5852, #46443f
  );
  margin-left: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monitor {
  border: 3px solid black;
  border-radius: 20px;
  overflow: hidden;
  height: 93%;
  width: 95%;
}

.monitorborder {
  background-color: #6b6861;
  border-radius: 20px;
  height: 99%;
  width: 99.2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.monitorborderborder {
  height: 94%;
  width: 94%;
  background-color: #928577;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outermonitor {
  background-color: #bdb5ad;
}

.regform {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchcontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.searchscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.usercontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.gradient {
  height: 100%;
  background-image:
    url(http://1nova.com/wallpapers/wp-content/uploads/sites/34/2015/02/Retro-80s-Arcade-Game.jpg);
  background-size: cover;
}

.logo{
  font: 100 15vh "setback_tt_brkregular";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #fd00ff, 0 0 0.5em #fd00ff, 0 0 0.1em #fd00ff, 0 10px 3px #000;
}

.logo span{
  animation: blink linear infinite 10s;
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  90% {
    color: #333;
    text-shadow: none;
  }
  91.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

@import url(http://fonts.googleapis.com/css?family=Cabin:400);

.loginform form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	font-size: 0px;
	padding: 20px;
	z-index: 1;
}

.loginform input {
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
}

.ie .loginform input {
	line-height: 40px;
}

.loginform input::-webkit-input-placeholder {
   color: #888;
}

.loginform input:-moz-placeholder {
   color: #888;
}

.loginform input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #28232a;
	background: linear-gradient(#383239, #28232a);
	border-color: #993394;
	box-shadow: 0 0 5px rgba(253,0,255,.2), inset 0 0 5px rgba(253,0,255,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.loginform input:focus::-webkit-input-placeholder {
	color: #fff0fe;
}

.loginform input:focus:-moz-placeholder {
	color: #fff0fe;
}

.loginform button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: content-box;
	border: 1px solid #444;
	border-radius: 25px;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}

.loginform button:hover,
.loginform button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #ff57f7;
	outline: none;
}

.loginform button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #8f3399;
		box-shadow: 0 0 5px rgba(253,0,255,.2), inset 0 0 5px rgba(253,0,255,.1), 0 2px 0 #000;
    }
    100% {
		border-color: #ff66f5;
		box-shadow: 0 0 20px rgba(253,0,255,.6), inset 0 0 10px rgba(253,0,255,.4), 0 2px 0 #000;
    }
}

.button{
	background-image: -webkit-linear-gradient(top, #585650, #53514b);
	background-image: linear-gradient(top, #2b241c, #53514b);
	border-radius: 50%;
	box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px #4e4c46, inset 0px -3px 1px 1px rgba(51, 47, 46, 0.5);
	height: 70px;
	width: 70px;
	-webkit-transition: all .1s linear;
	transition: all .1s linear;
}

.button:after{
	color:#e9e6e4;
	content: "";
	font-size: 30px;
	height: 30px;
	text-decoration: none;
	text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
	width: 30px;
  position: relative;
  margin-left: 16.5%;
  top: -40%;
}

/*.tick:after{
  font-size: 80px;
	content: "⌾";
}*/

.button:hover{
	background-image: -webkit-linear-gradient(top, #53514b, #585650);
	background-image: linear-gradient(top, #53514b, #585650);
	color:#0088cc;
}


.tick:hover:after{
	color:#83d244;
	text-shadow:0px 0px 6px #83d244;
}


.button:active{
	background-image: -webkit-linear-gradient(top, #53514b, #4e4c46);
	background-image: linear-gradient(top, #53514b, #3b3a35);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(43, 39, 38, 0.5);
}

.button:active:after{
	color:#dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

/*.led {
  width: 19px;
  height: 19px;
  background-color: #00bad6;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, rgba(61, 139, 255, 0.5) 0 2px 14px;
}*/

.led {
  width: 19px;
  height: 19px;
  background-color: #d01111;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}
